// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%;
  height: 300px;
 color:black ;
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
}
