
<h4>Signed out successfully.

</h4>


<h1>welcome to Bookers!!</h1>

<h4>In Bookers,

you can share and exchange your opinions , inpressions , and
<br>emotions

<br>about various books!</h4>

<%= link_to "log in", "/users/sign_in", class: "#" %>

<%= link_to "sign up", "/users/sign_up", class: "#" %>

<h4>CopyRight Infratop.inc</h4>